
<div>

    <div>
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <h1>Title(Страничка со всеми проектами)</h1>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
             Content
            </div>
            <div class="col-xs-2">
            </div>
        </div>
    </div>
</div>