
<div class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Projidea</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar">
            <li><a href="#">Link1</a></li>
            <li><a href="#">Link2</a></li>
            <li><a href="#">Link3</a></li>
            <li><a href="#">Link4</a></li>

        </ul>
    </div>
</div>
<div>

    <div>
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <h1>Title(Страничка со всеми проектами)</h1>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                Content
            </div>
            <div class="col-xs-2">
            </div>
        </div>
    </div>
</div>
